<!-- views/login_form.erb -->

<h1>Log in to your profile</h1>

<form method="POST" action="/process_login">
  <label>Username:</label>
  <input type="text" name="username">

  <label>Password:</label>
  <input type="password" name="password">

  <button type="submit">
    Log in
  </button>
</form>
